@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0a1153;
}

.countdown-item {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.label {
  display: block;
  font-size: 0.75em;
  color: #888;
}

